.report-image {
    width: 120px;
    height: 120px;
}


.submit-complain-label{
  
    font-size: 15px;
    font-weight: bold;
  }
.notifications {
    height: 350px;
    overflow: scroll;
    overflow: auto;
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 768px) {
    .notifications {
        height: 250px;
    }
}